.Weather {
  background-image: url("dusk.png");
  background-size: cover;
  border: 1px solid #c9cacc;
  border-radius: 4px;
  color: #000000;
  display: block;
  margin: 30px 0 auto;
  padding: 15px;
  width: 550px;
  height: 600px;
}

.Weather .locationSearch {
  margin: 0 auto;
  width: 400px;
  position: relative;
  left: 21px;
}

.Weather .searchBar {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  transition: all 200ms ease-in-out;
}

.Weather .searchBar:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.Weather .searchBar:focus {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.Weather .searchBar::placeholder {
  color: rgba(0, 0, 0, 0.8);
  border: none;
}

.Weather .searchButton {
  color: #000000;
  position: relative;
  right: 40px;
}

.Weather .geoLocationButton {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 50%;
  color: #000000;
  transition: all 200ms ease-in-out;
}

.Weather .geoLocationButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: #000000;
}
