.WeatherForecast {
  margin-top: 5px;
}

.WeatherForecast .forecastTitle {
  font-size: 15px;
  font-weight: 600;
}

.WeatherForecast .threeHourlyForecast {
  border-top: 1px solid #000000;
  font-size: 15px;
  font-weight: 600;
  padding-top: 7px;
  text-align: center;
}

.Weather.night .WeatherForecast .threeHourlyForecast {
  border-top: 1px solid #ffffff;
}

.WeatherForecast canvas {
  display: block;
  margin: 0 auto;
  padding: 6px 0 6px 0;
  width: 50px;
}
